<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension id="UpdateSitePublisher" point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="true">
         <run
               class="org.sonatype.tycho.p2.publisher.UpdateSitePublisherWithJREApplication">
         </run>
      </application>
   </extension>
   <extension id="org.sonatype.tycho.p2.publisher.UpdateSitePublisher" point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="true">
         <run
               class="org.sonatype.tycho.p2.publisher.UpdateSitePublisherWithJREApplication">
         </run>
      </application>
   </extension>
   <extension id="UpdateSitePublisher" point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="true">
         <run
               class="org.sonatype.tycho.p2.publisher.FeaturesAndBundlesPublisherApplication">
         </run>
      </application>
   </extension>
   <extension id="org.sonatype.tycho.p2.publisher.FeaturesAndBundlesPublisher" point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="true">
         <run
               class="org.sonatype.tycho.p2.publisher.FeaturesAndBundlesPublisherApplication">
         </run>
      </application>
   </extension>
   <extension id="CategoryPublisher" point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="true">
         <run
               class="org.sonatype.tycho.p2.publisher.CategoryPublisherApplication">
         </run>
      </application>
   </extension>
   <extension id="org.sonatype.tycho.p2.publisher.CategoryPublisher" point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="true">
         <run
               class="org.sonatype.tycho.p2.publisher.CategoryPublisherApplication">
         </run>
      </application>
   </extension>
   <extension id="ProductPublisher" point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="true">
         <run
               class="org.sonatype.tycho.p2.publisher.ProductPublisherApplication">
         </run>
      </application>
   </extension>
   <extension id="org.sonatype.tycho.p2.publisher.ProductPublisher" point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="true">
         <run
               class="org.sonatype.tycho.p2.publisher.ProductPublisherApplication">
         </run>
      </application>
   </extension>
   <extension id="RecreateRepository" point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="true">
         <run
               class="org.sonatype.tycho.p2.publisher.RecreateRepositoryApplication">
         </run>
      </application>
   </extension>
   <extension id="org.sonatype.tycho.p2.publisher.RecreateRepository" point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="true">
         <run
               class="org.sonatype.tycho.p2.publisher.RecreateRepositoryApplication">
         </run>
      </application>
   </extension>
</plugin>
